.renderedPokemonCards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*ICONS*/
.left {
    position: absolute;
    top: 50%;
    left: -75px;
}

.left:hover {
    cursor: pointer;
}

.right {
    position: absolute;
    top: 50%;
    right: -75px;
}

.right:hover {
    cursor: pointer;
}

.close {
    position: absolute;
    right: 10px;
    top: 27px;
    height: 21px;
}

.close:hover {
    cursor: pointer;
}

/*ICONS*/
/*CARD_INDOS*/
.pokemon-info-card {
    background-color: var(--grey);
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 350px;
    margin-top: 25px;
    height: fit-content;
    box-shadow: 10px 10px 14px 0;
}

.types {
    position: absolute;
    top: 120px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class {
    display: flex;
    justify-content: flex-end;
    width: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.class_two {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.type {
    border-radius: 50%;
    padding: 3px;
    height: 40px;
    width: 40px;
}

#pokecard {
    width: 350px;
    height: 30vh;
    color: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.poke-header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--dark);
    height: 85px;
    width: 350px;
    margin-bottom: 40px;
    margin-right: 1%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-name {
    color: white;
    font-size: 23px;
}

.pokemon-type-btn {
    color: white;
    background-color: rgba(28, 26, 32, 0.75);
    display: flex;
    padding: 8px;
    border-radius: 15px;
}

.pokepic {
    z-index: 2;
    margin-left: 60px;
    margin-top: 40px;
    height: 180px;
}

.pokeball-card-bg {
    margin-left: 80px;
    width: 185px;
    height: 185px;
    margin-top: 95px;
    position: absolute;
}

.info-container {
    width: 100%;
    background-color: var(--dark);
    color: var(--grey);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-nav {
    margin-top: 38px;
    display: flex;
}

.poke-nav a {
    margin: 5px;
    font-size: 12px;
}

.poke-nav a:hover {
    cursor: pointer;
}

/*STATS*/
#statsHeader {
    text-decoration: underline;
}

#stats {
    margin: 15px;
    width: 90%;
}

.stats-class {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*STATS*/
/*PROGRESS_BARS*/
.progress {
    min-width: 60%;
    cursor: not-allowed;
}

/*PROGRESS_BARS*/
/*ATTACKS*/
.attacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pokemon-attacks {
    font-size: 12px;
    margin: 3px;
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 8px;
}

/*ATTACKS*/
/*ABILITIES*/
.abilities {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.pokemon-abilities {
    margin: 3px;
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.35);
    border-radius: 8px;
}

/*ABILITIES*/