@media (max-width: 950px) {

    /*HEADER*/

    .header {
        height: 190px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-top: 5px;
    }

    #pokecard {
        padding: 3px;
    }

    .poke-name {
        margin-top: 0px;
        font-size: 40px;
    }

    .poke-number {
        margin-top: 100px;
    }

    .pokepic {
        height: 180px;
        margin-top: 0px;
    }

    .searchbar {
        margin-bottom: 5px;
    }

    h1:hover {
        transform: none;
    }

    .pokeball:hover {
        transform: none;
    }

    /*MAIN*/

    .main {
        margin-top: 190px;
    }
}

@media (max-width: 300px) {

    /*HEADER*/
    .pokemon-info-card {
        width: 250px;

    }

    .header {
        height: 190px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-top: 5px;
    }

    #pokecard {
        padding: 3px;
        width: 250px;
    }

    .info-container {
        height: fit-content;
    }

    .poke-name {
        margin-top: 0px;
        font-size: 30px;
    }

    .poke-number {
        margin-top: 100px;
    }

    .pokepic {
        height: 120px;
        margin-top: 0px;
    }

    .searchbar {
        margin-bottom: 5px;
    }

    h1:hover {
        transform: none;
    }

    .pokeball:hover {
        transform: none;
    }

    .renderedPokemonCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    

    /*MAIN*/

    .main {
        margin-top: 190px;
    }
}