/*COLOR ROOT*/

.color_bg_grass {
    background-color: rgba(20, 141, 28, 0.75);
}

.color_bg_water {
    background-color: rgb(86, 145, 248);
}

.color_bg_fire {
    background-color: rgba(255, 0, 0, 0.79);
}

.color_bg_electric {
    background-color: rgba(229, 109, 34, 0.846);
}

.color_bg_psychic {
    background-color: rgba(255, 255, 0, 0.55);
}

.color_bg_bug {
    background-color: rgba(36, 119, 37, 0.75);
}

.color_bg_earth {
    background-color: rgba(77, 44, 25, 0.8);
}

.color_bg_poison {
    background-color: rgba(187, 0, 255, 0.3);
}

.color_bg_dark {
    background-color: rgba(128, 128, 128, 0.7);
}

.color_bg_dragon {
    background-color: rgba(19, 149, 97, 0.6);
}

.color_bg_rock {
    background-color: rgba(128, 128, 128, 0.7);
}

.color_bg_normal {
    background-color: rgba(104, 67, 67, 0.756);
}

.color_bg_ice {
    background-color: rgba(128, 228, 242, 0.3);
}

.color_bg_fighting {
    background-color: rgba(255, 200, 150, 0.8);
}

.color_bg_ground {
    background-color: rgba(117, 81, 47, 0.8);
}

.color_bg_fairy {
    background-color: rgba(255, 200, 150, 0.8);
}

.color_bg_fighting {
    background-color: rgba(255, 200, 150, 0.8);
}

.color_bg_ghost {
    background-color: rgb(180, 185, 188);
}

.color_bg_steel {
    background-color: rgb(133, 124, 124);
}

/*ROOT*/

.d-none {
    display: none;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

/*ACTION ROOT*/

.name::first-letter {
    text-transform: uppercase;
}