/*HEADER*/

h1 {
    font-size: 40px;
}

h1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h2 {
    color: rgb(92, 92, 92);
}

/*ROOT_CLASSES*/

a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.d-none {
    display: none;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

/*COLOR_CLASSES*/

.color_bg_grass {
    background: linear-gradient(to bottom, #1ec229, #148d1c);
}

.color_bg_water {
    background: linear-gradient(to bottom, #82a5e2, #1b50ac);
}

.color_bg_fire {
    background: linear-gradient(to bottom, #ec4646, #c30202);
}

.color_bg_electric {
    background: linear-gradient(to bottom, #efa475, #ff6200);
}

.color_bg_psychic {
    background: linear-gradient(to bottom, #c3c34c, #ddf446);
}

.color_bg_bug {
    background: linear-gradient(to bottom, #40af47, #0c5011);
}

.color_bg_earth {
    background: linear-gradient(to bottom, #945733, #4d2c19);
}

.color_bg_poison {
    background: linear-gradient(to bottom, #cf4cff, #7b0fa3);
}

.color_bg_dark {
    background: linear-gradient(to bottom, #808080, #808080);
}

.color_bg_dragon {
    background: linear-gradient(to bottom, #24f3a0, #139561);
}

.color_bg_rock {
    background: linear-gradient(to bottom, #d7d7d7, #808080);
}

.color_bg_normal {
    background: linear-gradient(to bottom, #b58686, #684343);
}

.color_bg_ice {
    background: linear-gradient(to bottom, #80e5f2, #3ad2e6);
}

.color_bg_flying {
    background: linear-gradient(to bottom, #80e5f2, #3ad2e6);
}

.color_bg_ground {
    background: linear-gradient(to bottom, #b58686, #684343);
}

.color_bg_fairy {
    background: linear-gradient(to bottom, #808080, #707070);
}

.color_bg_fighting {
    background: linear-gradient(to bottom, #808080, #707070);
}

.color_bg_ghost {
    background: linear-gradient(to bottom, #b4b9bc, #a9bdc9);
}

.color_bg_steel {
    background: linear-gradient(to bottom, #d7d7d7, #857c7c);
}

/*COLOR_ROOT*/

:root {
    --bg-blue: rgb(31, 85, 150);
    --bg-yellow: rgb(255, 204, 1);
    --grey: rgb(210, 210, 210);
    --dark: rgb(28, 26, 32);
}