/*FONT*/
@font-face {
    font-family: 'nintendo';
    src: url('font/Early_GameBoy.ttf');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/*FONT*/
/*BODY*/
body {
    padding: 0;
    margin: 0;
    font-family: 'nintendo';
}

/*BODY*/
/*LOADING SCREEN*/
.loading-screen {
    margin-top: 10%;
    position: fixed;
    height: 350px;
}

/*LOADING SCREEN*/
/*HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    z-index: 999;
    background: linear-gradient(to bottom, #b5b5b5, #7d7d7d);
    width: 100%;
    box-shadow: 0 0 4px 0;
}

.logo {
    height: 60px;
}

.search {
    margin-top: 30px;
    width: 320px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--bg-blue);
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.searchbar img {
    height: 24px;
    padding: 3px;
}

.searchbar img:hover {
    cursor: pointer;
}

.input-searchbar {
    width: 200px;
    line-height: 21px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.input-searchbar:focus {
    outline: none;
}

.search-text {
    color: var(--bg-blue);
    font-size: 12px;
}

.pokeball {
    height: 60px;
    opacity: 0.8;
}

.pokeball:hover {
    transform: scale(1.05);
}

/*HEADER*/
/*MAIN*/
.main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/map.jpeg');
    filter: grayscale(80%) blur(1.5px);
    /* background-attachment: scroll; */
}

/*MAIN*/
/*POKEDEX*/
.pokedex {
    /* filter: none !important; */
    position: relative;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: gold;
    overflow-y: scroll;
}

.pokemon-preview {
    border: 1px solid rgba(0, 0, 0, 0, 2);
    box-shadow: 0px 0px 2px 1px;
    border-radius: 15px;
    margin: 20px;
    width: 190px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pokemon-preview:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.poke-card-head {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #1c1a20;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.poke-number {
    margin-left: 8px;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.poke-name {
    color: white;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
}

.small-pokemons {
    z-index: 2;
    margin-left: 60px;
    height: 120px;
    margin-top: 20px;
}

.small-pokemons:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.pokeball-bg {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 80px;
    margin-left: 50px;
}

.poke-card-footer {
    z-index: 2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #1c1a20;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poketype {
    border-radius: 15px;
    box-shadow: 0 0 3px 0;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    color: white;
}

.class-circle {
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0;
    z-index: 3;
    margin: 10px;
}

/*POKEDEX*/
/*MAIN*/

/*POKECARD*/
.pokepic {
    margin-left: 65px;
    position: flex;
    min-height: 200px;
    top: 100px;
}

.empty-card {
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
    width: 30%;
    z-index: 2;
    text-align: center;
}

.empty-card-p {
    margin-top: 12px;
    font-size: 12px;
}

.poke-nav a {
    font-weight: 700;
    margin-top: 15px;
}