body {
    font-family: 'amaranth-regular', 'latin';
    padding: 0;
    margin: 0;
    background-color: rgb(246, 246, 246);
}

/*LOADING SCREEN*/

.loading-screen {
    height: 200px;
}

/*HEADER*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    z-index: 999;
    background-color: rgb(235, 235, 235);
    width: 100%;
}

h1 {
    font-size: 40px;
}

h1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h2 {
    color: rgb(92, 92, 92);
}

a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

a:hover {
    color: rgb(92, 92, 92);
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.searchbar img {
    height: 24px;
    padding: 3px;
}

.searchbar img:hover {
    cursor: pointer;
}

.input-searchbar {
    line-height: 21px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.input-searchbar:focus {
    outline: none;
}

.pokeball {
    height: 60px;
    opacity: 0.8;
}

.pokeball:hover {
    transform: scale(1.05);
}

/*MAIN*/

.main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*POKEDEX*/

.pokedex {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.pokemon-preview {
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemon-preview:hover {
    cursor: pointer;
}

.small-pokemons {
    height: 150px;
}

.small-pokemons:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.poketype {
    border-radius: 15px;
    border: 2px solid black;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
}

/*pokeCard*/

.pokemon-info-card {
    border: 0.5px solid rgba(66, 66, 66, 0.7);
    border-radius: 10px;
    z-index: 2;
    width: 350px;
    margin-top: 25px;
}

.poke-number {
    color: rgb(92, 92, 92);
    position: absolute;
    margin-bottom: 220px;
    margin-right: 120px;
    font-weight: 700;
}

.poke-name {
    margin-top: 15px;
}

.poke-name::first-letter {
    text-transform: uppercase;
}

.arrow-back {
    display: flex;
    height: 30px;
    width: 30px;
    z-index: 999;
    margin-left: 20px;
    margin-top: 20px;
}

.arrow-back:hover {
    cursor: pointer;
}

.poke-nav {
    margin-top: 38px;
    display: flex;
}

.poke-nav a {
    margin: 5px;
}

.poke-nav a:hover {
    cursor: pointer;
}

#pokecard {
    width: 350px;
    height: 30vh;
    color: rgb(92, 92, 92);
    display: flex;
    padding: 24px;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.info-container {
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -40px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-type-btn {
    color: white;
    background-color: rgba(70, 65, 65, 0.7);
    display: flex;
    padding: 4px;
    border-radius: 8px;
}

#pokemonImage {
    position: flex;
    min-height: 200px;
    top: 100px;
}

/*renderedPokemonCards*/

.renderedPokemonCards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pokepic {
    margin-top: 10px;
    height: 180px;
}

/*Pokemon-Nav*/

.poke-nav a {
    font-weight: 700;
    margin-top: 15px;
}

#statsHeader {
    text-decoration: underline;
}

/*STATS*/

#stats {
    margin: 15px;
    width: 90%;
}

.stats-class {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*PROGRESS*/

.progress {
    width: 60%;
    cursor: not-allowed;
}

/*ATTACKS*/

.attacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pokemon-attacks {
    margin: 3px;
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 8px;
}

/*ABILITIES*/

.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.pokemon-abilities {
    margin: 3px;
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 8px;
}